altair
pandas
streamlit
dill
scikit-learn
scipy
pyarrow

google-api-python-client
google-api-core
google-auth
google-cloud-bigquery
google-cloud-storage
db-dtypes

pypdf 
langchain 
langchain_community 
langchain_experimental 
langchain_openai
langchain-google-vertexai

pandas_gbq
docx2txt
rapidocr-onnxruntime

python-dotenv
authlib

streamlit_js_eval
beautifulsoup4
plotly==5.24.1

markdown
mistune